<?xml version="1.0"?>
<config>
  <modules>
    <SGoodwin_IngredientSearch>
      <version>0.1.0</version>
    </SGoodwin_IngredientSearch>
  </modules>
  <frontend>
    <routers>
      <ingredientsearch>
        <use>standard</use>
          <args>
            <module>SGoodwin_IngredientSearch</module>
            <frontName>ingredients</frontName>
          </args>
      </ingredientsearch>
    </routers>
		<layout>
		  <updates>
			<ingredientsearch>
			  <file>ingredientsearch.xml</file>
			</ingredientsearch>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <ingredientsearch>
        <class>SGoodwin_IngredientSearch_Helper</class>
      </ingredientsearch>
    </helpers>
	<blocks>
	  <ingredientsearch>
		<class>SGoodwin_IngredientSearch_Block</class>
	  </ingredientsearch>
	</blocks>
  </global>
</config> 