<?xml version="1.0"?>
<config>
  <modules>
    <SGoodwin_Prescriptions>
      <version>0.1.0</version>
    </SGoodwin_Prescriptions>
  </modules>
  <frontend>
    <routers>
      <prescriptions>
        <use>standard</use>
          <args>
            <module>SGoodwin_Prescriptions</module>
            <frontName>prescriptions</frontName>
          </args>
      </prescriptions>
    </routers>
		<layout>
		  <updates>
			<prescriptions>
			  <file>prescriptions.xml</file>
			</prescriptions>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <prescriptions>
        <class>SGoodwin_Prescriptions_Helper</class>
      </prescriptions>
    </helpers>
	<blocks>
	  <prescriptions>
		<class>SGoodwin_Prescriptions_Block</class>
	  </prescriptions>
	</blocks>
  </global>
</config> 