<?xml version="1.0"?>
<config>
  <modules>
    <SGoodwin_ProductSearch>
      <version>0.1.0</version>
    </SGoodwin_ProductSearch>
  </modules>
  <frontend>
    <routers>
      <productsearch>
        <use>standard</use>
          <args>
            <module>SGoodwin_ProductSearch</module>
            <frontName>products</frontName>
          </args>
      </productsearch>
    </routers>
		<layout>
		  <updates>
			<productsearch>
			  <file>productsearch.xml</file>
			</productsearch>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <productsearch>
        <class>SGoodwin_ProductSearch_Helper</class>
      </productsearch>
    </helpers>
	<blocks>
	  <productsearch>
		<class>SGoodwin_ProductSearch_Block</class>
	  </productsearch>
	</blocks>
  </global>
</config> 