<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Bubble_FPC>
            <version>1.2.18</version>
        </Bubble_FPC>
    </modules>
    <global>
        <resources>
            <bubble_fpc_setup>
                <setup>
                    <module>Bubble_FPC</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </bubble_fpc_setup>
        </resources>
        <blocks>
            <bubble_fpc>
                <class>Bubble_FPC_Block</class>
            </bubble_fpc>
        </blocks>
        <helpers>
            <bubble_fpc>
                <class>Bubble_FPC_Helper</class>
            </bubble_fpc>
        </helpers>
        <models>
            <bubble_fpc>
                <class>Bubble_FPC_Model</class>
                <resourceModel>bubble_fpc_resource</resourceModel>
            </bubble_fpc>
            <bubble_fpc_resource>
                <class>Bubble_FPC_Model_Resource</class>
                <entities>
                    <action><table>bubble_fpc_action</table></action>
                    <block><table>bubble_fpc_block</table></block>
                </entities>
            </bubble_fpc_resource>
        </models>
        <cache>
            <types>
                <bubble_fpc translate="label,description" module="bubble_fpc">
                    <label><![CDATA[Bubble FPC]]></label>
                    <description><![CDATA[Full page caching.]]></description>
                    <tags><![CDATA[FPC]]></tags>
                </bubble_fpc>
            </types>
        </cache>
        <events>
            <core_clean_cache>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onCoreCleanCache</method>
                    </bubble_fpc>
                </observers>
            </core_clean_cache>
            <application_clean_cache>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onApplicationCleanCache</method>
                    </bubble_fpc>
                </observers>
            </application_clean_cache>
            <controller_action_predispatch_adminhtml_cache_massEnable>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onMassCacheEnable</method>
                    </bubble_fpc>
                </observers>
            </controller_action_predispatch_adminhtml_cache_massEnable>
            <controller_action_predispatch_adminhtml_cache_massDisable>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onMassCacheDisable</method>
                    </bubble_fpc>
                </observers>
            </controller_action_predispatch_adminhtml_cache_massDisable>
            <controller_action_predispatch_adminhtml_cache_massRefresh>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onMassCacheRefresh</method>
                    </bubble_fpc>
                </observers>
            </controller_action_predispatch_adminhtml_cache_massRefresh>
            <catalog_product_save_after>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onProductSaveAfter</method>
                    </bubble_fpc>
                </observers>
            </catalog_product_save_after>
            <catalog_category_save_after>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onCategorySaveAfter</method>
                    </bubble_fpc>
                </observers>
            </catalog_category_save_after>
            <cms_page_save_after>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onPageSaveAfter</method>
                    </bubble_fpc>
                </observers>
            </cms_page_save_after>
            <cataloginventory_stock_item_save_after>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onStockItemSaveAfter</method>
                    </bubble_fpc>
                </observers>
            </cataloginventory_stock_item_save_after>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Bubble_FPC before="Mage_Adminhtml">Bubble_FPC_Adminhtml</Bubble_FPC>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <bubble_fpc>
                    <file>bubble/fpc.xml</file>
                </bubble_fpc>
            </updates>
        </layout>
        <translate>
            <modules>
                <Bubble_FPC>
                    <files>
                        <default>Bubble_FPC.csv</default>
                    </files>
                </Bubble_FPC>
            </modules>
        </translate>
        <events>
            <after_reindex_process_catalog_product_price>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onReindexPriceAfter</method>
                    </bubble_fpc>
                </observers>
            </after_reindex_process_catalog_product_price>
            <after_reindex_process_catalog_url>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onReindexUrlAfter</method>
                    </bubble_fpc>
                </observers>
            </after_reindex_process_catalog_url>
            <after_reindex_process_catalogsearch_fulltext>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onReindexSearchAfter</method>
                    </bubble_fpc>
                </observers>
            </after_reindex_process_catalogsearch_fulltext>
            <after_reindex_process_cataloginventory_stock>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onReindexStockAfter</method>
                    </bubble_fpc>
                </observers>
            </after_reindex_process_cataloginventory_stock>
        </events>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <bubble_fpc>
                    <file>bubble/fpc.xml</file>
                </bubble_fpc>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch_catalog>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>disableCatalogSession</method>
                    </bubble_fpc>
                </observers>
            </controller_action_predispatch_catalog>
            <controller_action_predispatch_catalogsearch>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>disableCatalogSession</method>
                    </bubble_fpc>
                </observers>
            </controller_action_predispatch_catalogsearch>
            <http_response_send_before>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onHttpResponseSendBefore</method>
                    </bubble_fpc>
                </observers>
            </http_response_send_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>onCoreBlockToHtmlAfter</method>
                    </bubble_fpc>
                </observers>
            </core_block_abstract_to_html_after>
            <controller_action_layout_render_before>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>prepareMessages</method>
                    </bubble_fpc>
                </observers>
            </controller_action_layout_render_before>
            <controller_response_redirect>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>prepareMessages</method>
                    </bubble_fpc>
                </observers>
            </controller_response_redirect>
            <controller_action_predispatch>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>initBlockObservers</method>
                    </bubble_fpc>
                </observers>
            </controller_action_predispatch>
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>validateFormKey</method>
                    </bubble_fpc>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
            <controller_action_predispatch_wishlist_index_add>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>validateFormKey</method>
                    </bubble_fpc>
                </observers>
            </controller_action_predispatch_wishlist_index_add>
            <controller_action_predispatch_catalog_product_compare_add>
                <observers>
                    <bubble_fpc>
                        <class>bubble_fpc/observer</class>
                        <type>singleton</type>
                        <method>validateFormKey</method>
                    </bubble_fpc>
                </observers>
            </controller_action_predispatch_catalog_product_compare_add>
        </events>
        <translate>
            <modules>
                <Bubble_FPC>
                    <files>
                        <default>Bubble_FPC.csv</default>
                    </files>
                </Bubble_FPC>
            </modules>
        </translate>
    </frontend>
</config>