<div>
    <h3>InMedTech.co</h3>
    <h2>Consumer Submission for New clinician</h2>
    <p>Consumer details:<br />
        Name: {{var customer.firstname}} {{var customer.lastname}}<br />
        Email: {{var customer.email}}<br />
        Date/Time: {{var date_time}}
    </p>
    <p>&nbsp</p>
    <p>Submitted Clinician details:<br />
        Name: {{var clinician_name}}<br />
        City: {{var clinician_city}}<br />
        State: {{var clinician_state}}<br />
        Zip: {{var clinician_zip}}
    </p>
</div>